<div class="container">
<div class="card my-5">
    <div class="card-header bleu">
   <br>
  </div>
    <div class="card-body">
        <br>
        <table align="center">
            <tr>
                <td>
                    <button  class="btn btn-primary" (click)="onGetMatchs()">Liste Matchs</button>
                </td>
                <td>
                    <a type="button"  routerLink="/ajoutermat" class="btn btn-success" >Ajouter Match</a>
                </td>
            </tr>
         </table>
         <br><br>
        
        <table *ngIf="jeus" class="table  ">
            <thead class="scope">
                <tr>  
                    
                    <th scope="col">Duree</th>
                    <th scope="col">Espace</th>
                    <th scope="col">Lieu</th>
                    <th scope="col">Action</th>
                    
                    
                

    
                </tr>
            </thead>
    <tbody>
        <tr *ngFor="let mat of jeus._embedded.jeus">
            
            <td>{{ mat.duree }}</td>
             <td>{{ mat.espace }}</td>
             <td>{{ mat.lieu }}</td>
             <td>
                <table >
                    <tr>
                        <td>
                            <button type="button" class="btn btn-info" >Modifier</button>
                        </td>
                        <td>
                            <button type="button"  class="btn btn-danger" (click)="onDeleteMatch(mat)">Delete</button>
                        </td>
                    </tr>
                 </table>
             
            </td>
                       
         </tr>
     
    
    
        
    </tbody>
        </table>
       
           
    </div>
    <div class="card-footer text-muted">
        <br>
      </div>
    
    </div>
    </div>