<div class="container">
<div class="card my-5">
    <div class="card-header bleu">
        <br>
       </div>
    <div class="card-body">
        <br>
        <table align="center">
            <tr>
                <td>
                    <button class="btn btn-primary" (click)="onGetJoueurs()">Liste Joueurs</button>
                </td>
                <td>
                    <a type="button"  routerLink="/ajouterjor" class="btn btn-success" >Ajouter Joueur</a>
                </td>
            </tr>
         </table>
         <br><br>
           <table *ngIf="joueurs" class="table  table-striped">
            <thead class="scope">
                <tr>  
                    
                    <th scope="col">Nom</th>
                    <th scope="col">Age</th>
                    <th scope="col">Cin</th>
                    <th scope="col">Nationnalite</th>
                    <th scope="col">Action</th>
    
                </tr>
            </thead>
    <tbody>
        <tr *ngFor="let jor of joueurs._embedded.joueurs">
           
            <td>{{ jor.nom }}</td>
            <td>{{ jor.age }}</td>
            <td>{{ jor.cin }}</td>
            <td>{{ jor.nationnalite }}</td>
            
            <td>
                <table >
                    <tr>
                        <td>
                            <button type="button" class="btn btn-info" >Modifier</button>
                        </td>
                        <td>
                            <button type="button"  class="btn btn-danger" (click)="onDeleteJoueur(jor)">Delete</button>
                        </td>
                    </tr>
                 </table>
        
                </td>
    
    
    
    
        </tr>
    </tbody>
        </table>
       
       
    </div>
    <div class="card-footer text-muted">
        <br>
      </div>
   </div> 
    </div>
    