<div class="container">
<div class="card my-5">
    <div class="card-header bleu">
        <br>
       </div>
    <div class="card-body">
        <br>
        <table align="center">
            <tr>
                <td>
                    <button class="btn btn-primary" (click)="onGetSpectateurs()">Liste Spectateurs</button>
                </td>
                <td>
                    <a type="button"  routerLink="/ajouterspec" class="btn btn-success" >Ajouter Spectateur</a>
                </td>
            </tr>
         </table>
         <br><br>
        <table *ngIf="spectateurs" class="table  table-striped">
            <thead class="scope">
                <tr>  
                    
                    <th scope="col">Nom</th>
                    <th scope="col">Cin</th>
                    
                    <th scope="col">Num_Passaport</th>
                    <th scope="col">Action</th>

    
                </tr>
            </thead>
    <tbody>
        <tr *ngFor="let spec of spectateurs._embedded.spectateurs">
            
            <td>{{ spec.nom }}</td>
             <td>{{ spec.cin }}</td>
             <td>{{ spec.num_passaport }}</td>
             
            
             <td>
                <table >
                    <tr>
                        <td>
                            <button type="button" class="btn btn-info" >Modifier</button>
                        </td>
                        <td>
                            <button type="button"  class="btn btn-danger" (click)="onDeleteSpectateur(spec)">Delete</button>
                        </td>
                    </tr>
                 </table>
        
                </td>
    
    
        </tr>
    </tbody>
        </table>
       
           
    </div>
    <div class="card-footer text-muted">
        <br>
      </div>
    
    </div>
</div>