

<div class="container">
    <h2>Ajouter Joueur</h2>
    
    <form >
      <div class="form-group">
        <label for="uname">Nom</label>
        <input type="text" class="form-control"  placeholder="Entrer Nom" name="nom" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
        <label for="pwd">Cin:</label>
        <input type="password" class="form-control"  placeholder="Entrer Cin" name="cin" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
          <label for="pwd">Noationnalite:</label>
          <input type="password" class="form-control"  placeholder="Entrer Nationnalite" name="nationnalite" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <label for="pwd">Age:</label>
          <input type="password" class="form-control" placeholder="Enter Age" name="age" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
      
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
  </div>
  
  
  